<h2>My books</h2>
<ul>
    {{#each books}}
    <form action="">
        <li>"{{this.title}}" / {{this.author}} / {{this.year}} / cover: {{this.cover}}
            <a href="/add/{{this.id}}">Edit</a>
            <form action="/add/{{this.id}}?_method=DELETE" method="POST"><button type="submit">Delete</button></form>
        </li>
    </form>
    {{/each}}
</ul>